<h1>Create Job Specification</h1>
<div ng-if="formJobSpec.isDeveloper">
    <p>Note. Only a recruiter is authorised to submit this form.</p>
</div>

<md-content layout="row" class="md-padding formJobSpecs">
    <div flex="10"></div>
    <div layout="row" layout-align="center center" flex="80">
        <form name="submitJobFromRecruiter" flex>
            <fieldset class="standard">
                <legend>
                    Job Description
                </legend>
                <section layout="row">
                    <md-input-container flex>
                        <label>Job Description</label>
                        <input ng-model="formJobSpec.article.jobDescription.value" name="jobDescription" type="text" required>
                        <div ng-messages="formJobSpec.article.jobDescription.$error">
                            <div ng-message="required">
                                Job description is required.
                            </div>
                        </div>
                    </md-input-container>
                </section>
            </fieldset>

            <fieldset class="standard">
                <legend>
                    <md-checkbox ng-click="formJobSpec.disableRoleType()"
                                 ng-checked="!formJobSpec.article.roleType.disabled">
                    </md-checkbox>
                    <span ng-class="formJobSpec.article.roleType.disabled ? 'disabled' : ''">Role Type Test</span>
                </legend>
                <div layout="row" layout-align="start center" flex>
                    <section layout="column" layout-sm="column" layout-align="center start">
                        <md-checkbox ng-click="formJobSpec.toggleRoleType('permanent')"
                                     ng-checked="formJobSpec.existsRoleType('permanent')"
                                     ng-disabled="formJobSpec.article.roleType.disabled">
                            Permanent
                        </md-checkbox>
                        <md-checkbox ng-click="formJobSpec.toggleRoleType('contract')"
                                     ng-checked="formJobSpec.existsRoleType('contract')"
                                     ng-disabled="formJobSpec.article.roleType.disabled">
                            Contract
                        </md-checkbox>
                        </md-checkbox>
                    </section>
                </div>
            </fieldset>

            <fieldset class="standard">
                <legend>
                    <md-checkbox ng-click="formJobSpec.disablePayBracketLower()"
                                 ng-checked="!formJobSpec.article.payBracketLower.disabled">
                        <span ng-class="formJobSpec.article.payBracketLower.disabled ? 'disabled' : ''">Pay Greater Than Amount</span>
                    </md-checkbox>
                </legend>
                <section layout="row">
                    <md-input-container flex>
                        <label>Lowest acceptable amount</label>
                        <input ng-model="formJobSpec.article.payBracketLower.value"
                               ng-disabled="formJobSpec.article.payBracketLower.disabled"
                               type="number">
                    </md-input-container>
                </section>
            </fieldset>

            <fieldset class="standard">
                <legend>
                    <md-checkbox ng-click="formJobSpec.disableLocationDescription()"
                                 ng-checked="!formJobSpec.article.locationDescription.disabled">
                        Location Contains Test
                    </md-checkbox>
                </legend>
                <section layout="row">
                    <md-chips
                        ng-model="formJobSpec.article.locationDescription.value"
                        ng-class="formJobSpec.article.locationDescription.disabled ? 'chipsDisabled' : '' "
                        readonly="formJobSpec.article.locationDescription.disabled"
                        ng-disabled="true"
                        placeholder="Add Locations to match against"
                        delete-button-label="Remove Tag"
                        delete-hint="Press delete to remove tag"
                        secondary-placeholder="+ City">
                    </md-chips>
                </section>
            </fieldset>

            <fieldset class="standard">
                <legend>
                    <md-checkbox ng-click="formJobSpec.disableSkills()"
                                 ng-checked="!formJobSpec.article.skills.disabled">
                        Required Skills Test
                    </md-checkbox>
                </legend>
                <section layout="row">
                    <md-chips
                        ng-model="formJobSpec.article.skills.value"
                        ng-class="formJobSpec.article.skills.disabled ? 'chipsDisabled' : '' "
                        readonly="formJobSpec.article.skills.disabled"
                        placeholder="Enter a tag"
                        delete-button-label="Remove Tag"
                        delete-hint="Press delete to remove tag"
                        secondary-placeholder="+ Skill">
                    </md-chips>
                </section>
            </fieldset>

            <div layout="row">
                <div flex="10" layout="row" layout-align="left center"></div>
                <div flex="90">
                    <section layout="row" layout-align="start center">
                        <md-button class="md-raised md-primary md-accent"
                                   ng-click="formJobSpec.submitFormJobSpecDocument()">Submit</md-button>
                        <md-button class="md-raised md-primary"
                                   ng-click="formJobSpec.cancelFormJobSpecDocument()">Cancel</md-button>
                    </section>
                </div>
            </div>
            <div class="messages" ng-if="formJobSpec.submitmessage" ng-cloak>
                {{formJobSpec.submitmessage}}
            </div>
        </form>
    </div>
</md-content>

