<div role="dialog" aria-label="Notification" layout="column" layout-align="center center">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Notification</h2>
        </div>
    </md-toolbar>

    <div ng-if="!app.user.isLoggedIn" ng-cloak layout="row" layout-align="end center" flex>
        <form ng-submit="app.signInUser()" name="toolbarSignin" novalidate class="recruitunit-login" layout="row" layout-align="end center" flex>
            <div>
                <md-input-container flex>
                    <label>Email</label>
                    <input ng-model="app.user.email" type="email" name="email">
                    <div ng-messages="loginModalDialog.email.$error">
                        <div ng-message="email">
                            Enter a valid email.
                        </div>
                    </div>
                </md-input-container>
            </div>
            <div>
                <md-input-container flex>
                    <label>Password</label>
                    <input ng-model="app.user.password" name="password" type="password" minlength="8">
                    <div ng-messages="loginModalDialog.password.$error">
                        <div ng-message="minlength">Password must be more than 8 characters.</div>
                    </div>
                </md-input-container>
            </div>
            <div>
                <md-button class="md-raised md-accent" type="submit" ng-disabled="toolbarSignin.$invalid">Login</md-button>
            </div>
        </form>
    </div>
</div>