<div class="heading banner" layout="row">
    <div flex-gt-sm="100" flex-sm="100" flex="100">
        <div layout="row" layout-align="center center"><h1 ng-class="home.$mdMedia('gt-xs') ? 'md-display-3' : 'md-display-1'">What Is Recruit Unit?</h1></div>
        <div layout="column" layout-gt-xs="row" flex>
            <div layout layout-margin flex layout-align="center start">
                <img src="../assets/job-list-homepage.png" style="width:100px;max-width:500px;" flex="95">
            </div>
            <div flex>
                <p class="md-body-1">The initial communication between developers and recruiters can be difficult. Recruit Unit makes this smoother by allowing software developers to define specific, unit test like criteria for the role they want.</p>
                <p class="md-body-1">The recruiter job submissions are then checked against these rules. This allows both parties to instantly see if the role passes or fails to meet the criteria.</p>
                <p class="md-body-1">Recruit Unit will save time and frustration for all involved and make the next step in the process to a new role more productive.</p>
                <div layout="row">
                    <div flex="30" layout-align="left center">
                        <section layout="row">
                            <md-button class="md-raised md-accent" href="#signup">Get Started</md-button>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="features-banner banner" layout-align="center start" layout="row">
    <div flex-gt-sm="50" flex-sm="66" flex="100">
        <h1 ng-class="home.$mdMedia('gt-xs') ? 'md-display-3' : 'md-display-1'">Features</h1>
        <p class="md-body-1">Unit tests for job notifications. Connecting developers and recruiters through testable forms.</p>
    </div>
</div>
<div class="features-padding light-grey-background background-rotated-y" layout="row" layout-align="center" flex>
    <div flex-gt-md="100" flex-gt-sm="50" flex-sm="100" flex="100">
        <md-grid-list md-cols-lg="3" md-cols-md="2" md-cols-sm="2" md-cols-xs="1" md-gutter="10px" md-row-height="2:1">
            <md-grid-tile class="md-whiteframe-3dp tile-background job-list-backgroundimage">
                <p>See which submissions pass or fail your test criteria</p>
            </md-grid-tile>
            <md-grid-tile class="md-whiteframe-3dp tile-background form-details-backgroundimage">
                <p>Clearly lists important job details</p>
            </md-grid-tile>
            <md-grid-tile class="md-whiteframe-3dp tile-background configure-test-backgroundimage">
                <p>Configurable test parameters to check against your criteria</p>
            </md-grid-tile>
            <md-grid-tile class="md-whiteframe-3dp tile-background secure-backgroundimage">
                <p>Secure. Only you can see the jobs submitted to you</p>
            </md-grid-tile>
            <md-grid-tile class="md-whiteframe-3dp tile-background control-contact-backgroundimage">
                <p>Control visibility of your contact details</p>
            </md-grid-tile>
            <md-grid-tile class="md-whiteframe-3dp tile-background responsive-list-backgroundimage">
                <p>Responsive design for easy viewing across devices</p>
            </md-grid-tile>
        </md-grid-list>
    </div>
</div>
<div class="features-banner banner" layout-align="center start" layout="row">
    <div flex-gt-sm="50" flex-sm="66" flex="100">
        <h1 ng-class="home.$mdMedia('gt-xs') ? 'md-display-3' : 'md-display-1'" id="signup">Recruit Unit Signup</h1>
        <p class="md-body-1">Sign up to Recruit Unit to make finding the right job easier.</p>
    </div>
</div>
<div class="light-grey-background"  layout-align="center start" layout="row">
    <md-card class="md-whiteframe-z4 recruitunit-homepage" flex-gt-sm="50" flex-sm="66" flex="100">
        <md-card-content>
            <form name="createUser">
                <div layout="row">
                    <div flex="30" layout="row" layout-align="left center" class="row-label">
                        <span>User Name</span>
                    </div>
                    <div flex="70">
                        <section layout="row">
                            <md-input-container flex>
                                <label>name</label>
                                <input ng-model="home.user.displayName" type="text" required>
                                <div ng-messages="home.user.displayName.$error">
                                    <div ng-message="required">
                                        You name is required.
                                    </div>
                                </div>
                            </md-input-container>
                        </section>
                    </div>
                </div>
                <div layout="row">
                    <div flex="30" layout="row" layout-align="left center" class="row-label">
                        <span>Email Address</span>
                    </div>
                    <div flex="70">
                        <section layout="row">
                            <md-input-container flex>
                                <label>email</label>
                                <input ng-model="home.user.email" type="email">
                                <div ng-messages="home.user.email.$error" ng-if="home.user.email.$dirty">
                                    <div ng-message="home.user.email.$invalid">
                                        Enter a valid email.
                                    </div>
                                </div>
                            </md-input-container>
                        </section>
                    </div>
                </div>
                <div layout="row">
                    <div flex="30" layout="row" layout-align="left center" class="row-label">
                        <span>Role</span>
                    </div>
                    <div flex="70">
                        <section layout="row">
                            <md-radio-group ng-model="home.user.jobRole">
                                <md-radio-button ng-repeat="role in home.roles" ng-value="role" aria-label="role">
                                    {{role}}
                                </md-radio-button>
                            </md-radio-group>
                        </section>
                    </div>
                </div>
                <div layout="row">
                    <div flex="30" layout="row" layout-align="left center" class="row-label">
                        <span>Password</span>
                    </div>
                    <div flex="70">
                        <section layout="row">
                            <md-input-container flex>
                                <label>password</label>
                                <input ng-model="home.user.password" type="password" required>
                                <div ng-messages="home.user.password.$error">
                                    <div ng-message="minlength">Password must be more than 8 characters.</div>
                                </div>
                            </md-input-container>
                        </section>
                    </div>
                </div>
                <div layout="row">
                    <div flex="30" layout-align="left center">
                        <section layout="row">
                            <md-button class="md-raised md-accent" ng-click="home.createNewUser()">Sign me up</md-button>
                        </section>
                    </div>
                </div>
                <div class="messages" ng-if="home.submitmessage" ng-cloak>
                    {{home.submitmessage}}
                </div>
            </form>
        </md-card-content>
    </md-card>
</div>
