<!DOCTYPE html>
<html lang="en" >
<head>
  <title>RecruitUnit - Homepage | Dev</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

  <base href="/">

  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
</head>

<body ng-app="recruitUnitApp" ng-controller="AppController as app" layout="column" ng-init="app.initApp()" ng-cloak>
<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings">
      <md-icon ng-click="app.toggleSideNav()" style="fill:white" md-svg-icon="navigation:menu"></md-icon>
    </md-button>

    <div ng-if="app.user.isLoggedIn" ng-cloak layout="row" layout-align="end center" flex>{{app.user.email}}<md-button ng-click="app.signOutUser()">Logout</md-button></div>
    <div ng-if="!app.user.isLoggedIn" ng-cloak layout="row" layout-align="end center" flex>
      <form ng-submit="app.signInUser()" name="toolbarSignin" novalidate class="recruitunit-login" layout="row" layout-align="end center" flex>
        <div>
          <md-input-container flex>
            <label>Email</label>
            <input ng-model="app.user.email" type="email" name="email">
            <div ng-messages="toolbarSignin.email.$error">
              <div ng-message="email">
                Enter a valid email.
              </div>
            </div>
          </md-input-container>
        </div>
        <div>
          <md-input-container flex>
            <label>Password</label>
            <input ng-model="app.user.password" name="password" type="password" minlength="8">
            <div ng-messages="toolbarSignin.password.$error">
              <div ng-message="minlength">Password must be more than 8 characters.</div>
            </div>
          </md-input-container>
        </div>
        <div>
          <md-button class="md-raised md-accent" type="submit" ng-disabled="toolbarSignin.$invalid">Login</md-button>
        </div>
      </form>
    </div>

  </div>
  <div layout="row" layout-align="end center" ng-if="app.submitmessage" ng-cloak>
    <div>{{app.submitmessage}}</div>
  </div>
</md-toolbar>
<md-content flex>
  <div layout="vertical" flex>
    <md-sidenav
        md-component-id="sidenav-main"
        md-is-locked-open="false"
        md-whiteframe="4">
      <md-content layout-padding>
        <section layout="column" layout-align="center start">
          <md-list>
            <md-button ng-href="/user/{{app.user.email}}" ng-click="app.toggleSideNav();" class="md-primary">
              <md-icon md-svg-icon="action:home"></md-icon>
              Home
            </md-button>
            <md-button ng-href="/user/{{app.user.email}}/comparisonrules" ng-click="app.toggleSideNav()" ng-if="app.user.isDeveloper" class="md-primary">
              <md-icon md-svg-icon="av:playlist_add_check"></md-icon>
              Job Requirement Test Rules
            </md-button>
            <md-button ng-if="app.user.isDeveloper" ng-click="app.toggleSideNav();app.toggleUnitTestFormDialog($event, app.userFormUrl);" class="md-primary">
              <md-icon md-svg-icon="action:settings"></md-icon>
              Job Requirements Form URL
            </md-button>
            <md-button ng-if="!app.user.isDeveloper" ng-href="/user/{{app.user.email}}/createjobspec" ng-click="app.toggleSideNav();" class="md-primary">
              <md-icon md-svg-icon="action:settings"></md-icon>
              Create Job Spec
            </md-button>
          </md-list>
        </section>
      </md-content>
    </md-sidenav>

    <app flex>Loading...</app>
  </div>
  <div class="footer" layout="row" flex>
    <div layout="column" layout-align="center start" flex="45">
      © 2017 Recruit Unit
    </div>
    <div layout="row" layout-align="center center" class="social" flex>
      <a href="http://www.facebook.com"><md-icon md-svg-icon="social:facebook"></md-icon></a>
      <a href="http://www.twitter.com"><md-icon md-svg-icon="social:twitter"></md-icon></a>
    </div>
    <div layout="column" layout-align="center start" flex="45"></div>
  </div>
</md-content>

</body>
</html>
